<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="icon" href="/img/weather.png">
   <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container">
        {{>header}}
        <p class="text-danger">{{errorMessage}}</p>
    </div>
    
    {{>footer}}
</body> 

</html>