<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="container text-center mt-2">
    {{!-- <div class="main-content"> --}}
        {{>header}}
        <img class="portrait" src="/img/imvk.jpg">
    </div>
    {{>footer}}
</body>

</html>