<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>

<body>
    <div class="container text-center">
        {{>header}}
        <p class="text-muted">{{helpText}}</p>
    </div>
    
    {{>footer}}
</body>

</html>